<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Aggiungi album</title>
</head>

<body>
	<div>
		<h4>Inserisci i dati su un album</h4>
	</div>
	<form action="#" th:action="@{/album}" method="post"
		th:object="${album}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
			</tr>
			<tr>
				<td>Descrizione:</td>
				<td><input type ="text" th:field="*{descrizione}">
				</td>
			</tr>
			<tr>
				<td><button type="submit">Salva album</button></td>
			</tr>
		</table>
	</form>
</body>
</html>