<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Aggiungi fotografo</title>
</head>

<body>
	<div>
		<h4>Inserisci i dati di un fotografo</h4>
	</div>
	<form action="#" th:action="@{/fotografo}" method="post"
		th:object="${fotografo}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td>
				<input type ="text" th:field="*{cognome}">
				</td>
			</tr>

			<tr>
				<td><button type="submit">Salva fotografo</button></td>
			</tr>
		</table>
	</form>
</body>
</html>