<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Aggiungi foto</title>
</head>

<body>
	<div>
		<h4>Inserisci i dati</h4>
	</div>
	<form action="#" th:action="@{/fotografia}" method="post"
		th:object="${fotografia}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
			</tr>
			<tr>
				<td>Fotografo:</td>
				<td><select th:field="*{fotografo}">
						<option th:each="fotografo : ${fotografi}"
							th:value="${fotografo.id}"
							th:text="${fotografo.nome + ' ' + fotografo.cognome}"></option>
				</select></td>
			</tr>
			<tr>
				<div>
					<label class="col-sm-2 control-label">Carica una immagine(400x300):</label>
					<div class="col-sm-8">
						<input type="file" name="file" />
					</div>
					<div class="col-sm-2" th:if="${imgNonInserita}">Campo
						obbligatorio</div>
				</div>
				</div>
			</tr>

			<tr>
				<td><button type="submit">Salva foto</button></td>
			</tr>
		</table>
	</form>
</body>
</html>